.textview {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.5); 
    background-image: url('/root/HEDB/src/integrity_zone/2.png');
    background-size: cover;
    background-position: center center; 
}

.button{
    font-size: 18px;
}
.button:hover {
    color:red;
}

.button:active{
    /* background-color: aquamarine; */
    color: burlywood;
}

.window-title {
    font-size: 16px;
}
